# -Indexing in python

In [1]:
# make a string
a = "samosa pakora"
a

'samosa pakora'

In [10]:
a[0]

'm'

In [4]:
a[1]

'a'

In [5]:
a[3]

'o'

In [11]:
# length of a string
len(a)

13

In [13]:
a[12]

'a'

In [21]:
# exclusive element is last one
a[0:6]

'samosa'

In [23]:
a[0:13]

'samosa pakora'

In [24]:
a[-1]

'a'

In [25]:
a[-0]

's'

In [27]:
a[-4]

'k'

In [29]:
a[-1:-6]

''

In [30]:
a[-6:-1]

'pakor'

In [31]:
a[-6:-0]

''

In [32]:
a[-6:-13]

''

In [33]:
a[-6:13]

'pakora'

In [42]:
food = 'biryani is . my favouri. sdf H sdf sHDF'
print(food.capitalize())  # converts first character in capital rest lowers

text = 'groß'

# convert text to lowercase using casefold() casefold is more aggressive converted german character to equivalent ss
print('Using casefold():', text.casefold()) 

# convert text to lowercase using lower()
print('Using lower():', text.lower())

mytext = 'hi'
# retruns the text centered two parameters number of characters and 2nd is fill element by default " "
print(mytext.center(5,"*"))

# coents the specific character how many times they apperar 2 parameters are optional start piont and end point in string

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 1, 24)

print(x)


# encodes the text to an encoding standard by defualt utf-8 optional parameter is error 
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

# Returns true if the string ends with the specified value two start end prameters are optional
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)


# sets the tab size of a string
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

# returns the first occurence of string if not find retruns -1 same as index index raises error instead -1

txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

# formats a string in placeholder

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1,'\n', txt2, '\n', txt3)


# returns the index where specific word is found
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

# returns true if all the characters are alpha numeric space is not alnum
txt = "Company12"

x = txt.isalnum()

print(x)

# retlurns true if all characters all alpha
txt = "Company"

x = txt.isalpha()

print(x)

# Returns True if all characters in the string are ascii characters

txt = "Company"

x = txt.isascii()

print(x)


# Returns True if all characters in the string are decimals 0-9

txt = "2345"

x = txt.isdecimal()

print(x)

# Returns True if all characters in the string are digits some subscript chracters unicodes etc 0-9 + some characters
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

# Returns True if the string is an identifier means valid variable naming rule

txt = "Demo"

print("valid identifier", txt.isidentifier())

# returns true if string is numeric includes romans

txt = "565543"

x = txt.isnumeric()

print(x)

Biryani is . my favouri. sdf h sdf shdf
Using casefold(): gross
Using lower(): groß
**hi*
2
b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'
False
H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o
8
My name is John, I'm 36
 My name is John, I'm 36
 My name is John, I'm 36
8
True
True
True
True
True
True
valid identifier True

# string methods

In [52]:
food

'biryani is . my favouri. sdf H sdf sHDF'

In [53]:
len(food)

39

# after pressing period . press tab button to chech all available methods

In [57]:
food.capitalize()

'Biryani is . my favouri. sdf h sdf shdf'

In [58]:
food.upper()

'biryani is . my favouri. sdf h sdf shdf'

In [56]:
food.casefold()

'biryani is . my favouri. sdf h sdf shdf'

In [60]:
food.replace("b", "sh")

'shiryani is . my favouri. sdf H sdf sHDF'

In [65]:
# counting a specific letter in string
print(food.count('a'))
food.count('bi')

2

1

### finding an index number in a string

In [68]:
food

'biryani is . my favouri. sdf H sdf sHDF'

In [69]:
food.find('i')

1

In [72]:
food.find('sd')

25

In [73]:
foods = "I love samosa, pakora, biryani, raita and karahi"

In [75]:
foods.split(",")

['I love samosa', ' pakora', ' biryani', ' raita and karahi']

# Basics data structures in python
### 1- tuples
### 2- lists
### 3- dictionaries
### 4- sets

## Tuples
- tuple is ordered collection of elements
- enclosed in parenthises ()
- can store different kinds of elements
- once elements are stored you cannot change them or you can say unammutable
- tuple indexes starts from 0

In [2]:
mytuple = ( 1, "python", 3.10, True)
mytuple

(1, 'python', 3.1, True)

In [3]:
# type of tuple
type(mytuple)

tuple

In [8]:
mytuple[1]

'python'

In [11]:
# last index is exclusive
mytuple[0:3]

(1, 'python', 3.1)

In [13]:
# elements in tuple
len(mytuple)

4

In [15]:
yourtuple = (2, 'asim', 3.5, False)
yourtuple

(2, 'asim', 3.5, False)

In [27]:
# concatenation of tuples

mytuple + yourtuple

(1, 'python', 3.1, True, 2, 'asim', 3.5, False)

In [28]:
# concatenation + repeatation
mytuple *2 + yourtuple

(1, 'python', 3.1, True, 1, 'python', 3.1, True, 2, 'asim', 3.5, False)

In [30]:
tup1 = ( 20, 30, 50, 30 )
tup1

(20, 30, 50, 30)

In [21]:
# minunum in tuple 
min(tup1)

20

In [23]:
# maximum in tuple
max(tup1)

50

In [26]:
tup1 * 5

(20,
 30,
 50,
 30,
 20,
 30,
 50,
 30,
 20,
 30,
 50,
 30,
 20,
 30,
 50,
 30,
 20,
 30,
 50,
 30)

---

## 2- lists
- ordered collection of elements enclosed in square brackets []
- mutatable you can change the values

In [32]:
list1 = [ 2, 'asim', 3.5, False ]
list1

[2, 'asim', 3.5, False]

In [33]:
type(list1)

list

In [35]:
len(list1)

4

In [36]:
list1[1]

'asim'

In [38]:
list1[0:3]

[2, 'asim', 3.5]

In [39]:
list2 = [ 3, 5, "asim", "hello", 470, 45.4, False]
list2

[3, 5, 'asim', 'hello', 470, 45.4, False]

In [40]:
list1 + list2

[2, 'asim', 3.5, False, 3, 5, 'asim', 'hello', 470, 45.4, False]

In [41]:
list1 * 2

[2, 'asim', 3.5, False, 2, 'asim', 3.5, False]

In [42]:
list1.reverse()
list1

[False, 3.5, 'asim', 2]

In [45]:
list1.append("hello how are you")
list1

[False,
 3.5,
 'asim',
 2,
 'hello how are you',
 'hello how are you',
 'hello how are you']

In [49]:
list2 = [ 32, 34, 234,34,345 ,345 ]
list2

[32, 34, 234, 34, 345, 345]

In [51]:
list2.sort()
list2

[32, 34, 34, 234, 345, 345]

In [52]:
list2 * 2

[32, 34, 34, 234, 345, 345, 32, 34, 34, 234, 345, 345]

In [54]:
list2 + list1

[32,
 34,
 34,
 234,
 345,
 345,
 False,
 3.5,
 'asim',
 2,
 'hello how are you',
 'hello how are you',
 'hello how are you']

## 3- dictionaries
- an unordered collection of elements
- key and value
- curly braces { }
- mutatable

In [56]:
# foods and thier prices
food = { "samosa" :40, "pakora" : 50, "raita" :20, "salad" : 30, "chicken rolls" : 30 }
food

{'samosa': 40, 'pakora': 50, 'raita': 20, 'salad': 30, 'chicken rolls': 30}

In [57]:
type(food)

dict

In [58]:
# extract data
food.keys()

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken rolls'])

In [59]:
food.values()

dict_values([40, 50, 20, 30, 30])

In [60]:
# adding new elements
food["tikki"] = 20
food

{'samosa': 40,
 'pakora': 50,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 30,
 'tikki': 20}

In [61]:
# update value
food["tikki"] = 30
food

{'samosa': 40,
 'pakora': 50,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 30,
 'tikki': 30}

In [62]:
food2 = { "dates" : 100, "chocolates": 200, "sawayan": 500 }
food2

{'dates': 100, 'chocolates': 200, 'sawayan': 500}

In [69]:
food2.update({"milk": 500})
food2

{'dates': 100, 'chocolates': 200, 'sawayan': 500, 'samosa': 200, 'milk': 500}

In [71]:
# concatenation of dictionaries food + food1 not allowed
food.update(food2)
food

{'samosa': 200,
 'pakora': 50,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 30,
 'tikki': 30,
 'dates': 100,
 'chocolates': 200,
 'sawayan': 500,
 'milk': 500}

In [76]:
sum(food.values())

1660

## sets
- undorderd and unindexed collection of elements
- curly braces are used
- no duplicated are allowed
- boolean values cannot be added

In [78]:
s1 = { 1, 34.4, "asim", "lahore", "pakistan", True}
s1

{1, 34.4, 'asim', 'lahore', 'pakistan'}

In [81]:
s1.add("suhail")
s1

{1, 34.4, 'asim', 'lahore', 'pakistan', 'suhail'}

In [83]:
s1.add(1)
s1

{1, 34.4, 'asim', 'lahore', 'pakistan', 'suhail'}

In [84]:
s1.remove("lahore")
s1

{1, 34.4, 'asim', 'pakistan', 'suhail'}